<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/footer.min.css">
</head>
<body>
<div class="footer">
    <div class="footer_con clearfix">
        <div class="footer_introduce">
            <span>Copyright 2016© 私人厨师技术有限公司 <br>
                  All rights reserved.沪ICP备14040053号-1</span>
        </div>
        <div class="footer_share">
            <img src="/images/weixin.png" alt="">
            <img src="/images/weibo.png" alt="">
            <img src="/images/qq.png" alt="">
        </div>
    </div>
</div>
</body>
</html>

