<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/style.min.css">
    <link rel="stylesheet" href="/stylesheets/header.min.css">
    <link rel="stylesheet" href="/stylesheets/private_order.min.css">
    <link rel="stylesheet" href="/stylesheets/private_order1.min.css">
    <link rel="stylesheet" href="/stylesheets/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/sweet-alert.min.css">
    <script src="/javascripts/sweet-alert.min.js"></script>
</head>
<body>
<%include header.html%>
<div class="content clearfix">

    <div class="collections-bottom-grids">
        <div class="collections-bottom-grid animated wow slideInLeft" data-wow-delay=".5s">
            <h3><span class="private">春花秋月·宴 </span><span class="adjust">含食材，适合4-6人享用，RMB <a class="price">1288</a>元</span></h3>
        </div>
    </div>
    <!-- newsletter-bottom -->
    <p class="title">菜单</p>
    <div class="newsletter-bottom">
            <div class="newsletter-bottom-grids">
                <div class="col-md-6 newsletter-bottom-grid wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h3>凉菜</h3>
                    <p><span>春花秋月宴凉菜</span>主要包括玫瑰豉油鸡、江南手剥笋、小葱拌豆腐、酸辣海带丝、凉拌木耳、加州核桃海鲜凉菜、椒油素鸡、共和凉菜卷、双椒拌木耳、碧玉白菜卷、鱼露柠檬酱汁、青豆虾仁等十二道菜品，任选其三</p>
                </div>
                <div class="col-md-6 newsletter-bottom-grid wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <img src="/images/private_menu1.png" alt=" " class="img-responsive" />
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="newsletter-bottom-grids">
                <div class="col-md-6 newsletter-bottom-grid wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <img src="/images/private_menu2.png" alt=" " class="img-responsive" />
                </div>
                <div class="col-md-6 newsletter-bottom-grid  wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h3>热菜</h3>
                    <p><span>春花秋月宴热菜</span>主要包括白灼芥兰苗、黄金獐子岛扇贝、桃核爆安格斯牛肉、清蒸多宝鱼、油焖大虾、柠檬帕玛森干酪烤三文鱼、红枣百合蒸南瓜、清蒸大闸蟹、虾花蟹斗、三色蒸蛋、蒜香烤翅、口水鸡、法式芥末籽酱焗玉米、柴沟堡熏肉、柠香鲜虾青瓜樽、糖醋带鱼、松鼠桂鱼、重庆辣子鸡、红焖羊肉、泰汁鸭掌等二十道菜品，任选其十二</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="newsletter-bottom-grids">
            <div class="col-md-6 newsletter-bottom-grid wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h3>主食饮品</h3>
                <p><span>春花秋月宴主食</span>包括五谷丰登、米饭三明治、海藻绿豆粥、鸡肉起司卷、菠菜三文鱼饭团、番茄酱寿司等六道主食，任选其二</p>
                <p><span>春花秋月宴饮品</span>包括相约地中海、焦糖玛奇朵、蓝色妖姬、芒果捞椰、朗姆酒、樱桃白兰地、龙舌兰、粉红佳人等七种饮品，任选其三</p>
            </div>
            <div class="col-md-6 newsletter-bottom-grid wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                <img src="/images/private_menu3.png" alt=" " class="img-responsive" />
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //newsletter-bottom -->
    <div class="service_explain animated wow slideInUp" data-wow-delay=".5s">
      <p>服务须知</p>
        <div class="tips">
            <ul>
                <li><b>·</b> 私人订制宴会请至少提前三天预定 <b>·</b></li>
                <li><b>·</b> 费用含食材及厨师服务费 <b>·</b></li>
                <li><b>·</b>成品以实物为主，图片仅供参考 <b>·</b></li>
                <li><b>·</b> 如有任何疑问，请联系私人厨师客服 <b>·</b></li>
                <li><b>·</b> 电话：010-45454323 <b>·</b></li>
            </ul>
        </div>
        <div class="tip_img">
            <img src="/images/callcenter_girls_glasses.png" alt="">
        </div>
    </div>
    <div class="reservation animated wow slideInLeft" data-wow-delay="1s">
       <span>RMB 1288元</span><button>立即预定</button>
    </div>
    <!--<span>RMB 1288元</span><button class="orders">立即预定</button>-->


</div>
<%include footer.html%>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="/javascripts/wow.min.js"></script>
<script>
    new WOW().init();
</script>
<script>

    $('button').click(function(){
        var tel=sessionStorage.getItem("tel");
        /*alert(tel)*/
        if(tel==null){
            location.href='/login?url=/private_order1';
        }else{
            $.ajax({
                type: 'POST',
                url: '/order_private_menu',
                data:{u_id:sessionStorage.getItem('tel'),
                    cid:'101',
                    private:$('.private').text(),
                    price:$('.price').text(),
                    food_picture:'cuisine1.png'},
                timeout: 3000,
                dataType: 'json',
                success: function (result) {
                   /* alert(JSON.stringify(result))*/
                    if(result.res==1){
                        /*alert('您预订成功');*/
                       /* swal("预订成功","","success");*/
//                        localStorage.setItem('price',$('.price').text());
                        location.href='/order_details?u_t='+sessionStorage.getItem('tel')+'&cid=101&price='+$('.price').text()+'&private='+$('.private').text();
                    }
                },
                error: function (error) {
                    /*alert('error')*/
                    swal("未知错误","","error");
                }
                // }

            })
            return false;//阻止提交
        }
    })
</script>
</body>
</html>