<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>私人厨师</title>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/sweet-alert.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/style.min.css">
    <link rel="stylesheet" href="/stylesheets/header.min.css">
    <link rel="stylesheet" href="/stylesheets/selfcenter.min.css">
</head>
<body>
    <%include header.html%>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">修改密码</h4>
                </div>
                <div class="modal-body">
                    <form action="#">
                        <label for="old_password">原密码 ：</label><input type="password" id="old_password" placeholder="请输入原密码" required><br>
                        <label for="new_password">新密码 ：</label><input type="password" id="new_password" placeholder="请输入修改后的密码" required>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_confirm">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal-->
    <div class="content">
           <div class="order_left ">
               <span>我的账号</span>
           </div>
           <!--账户start-->
           <div class="account">
               <div class="myaccount">
                   <img src="" alt="">&nbsp;&nbsp;
                   <span>手机号：12345678908</span>&nbsp;&nbsp;&nbsp;&nbsp;
                   <span>密码：******</span>
                   <a href="#">修改密码</a>
               </div>
           </div>
           <!--账户end-->
        <div class="mycollection">
            <span>我的收藏</span>
        </div>
          <!--收藏start-->
           <div class="collection">
            <div class="cooker_collection clearfix">
            </div>
           </div>
        <!--收藏end-->
   </div>
<%include footer.html%>
<script src="/javascripts/sweet-alert.min.js"></script>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="/javascripts/myAccount.min.js"></script>
    <!--<script>
        $(function () {
            $('.order_message_list').css({display:'none'});
            $('.order_message').click(function () {
                $(this).siblings().slideToggle('fast');
            })
        })
    </script>-->
    <!--我的收藏-->
    <script>
        $(function () {
            $('.position_txt').html(localStorage.getItem('city'));
                $.ajax({
                    type: 'post',
                    url: '/collect',
                    data:{u_id:sessionStorage.getItem('tel')},
                    timeout: 3000,
                    dataType: 'json',
                    success: function (data) {
                        $('.cooker_collection').empty();
                        for(var i=0;i<data.res.length;i++){
                            $('.cooker_collection').append(' ' +
                                    ' <a href="/cooker_detail?index='+data.res[i].cid+'">'+
                                    ' <div class="dishes">'+
                                    ' <img class="food" src="/images/'+data.res[i].cooker_image+'" alt="">'+
                                    ' <div class="cooker_icon">'+
                                    '<img class="dish_cook1" src="/images/'+data.res[i].cooker_icon+'" alt="">'+
                                    ' <p class="cooker_name">'+data.res[i].cname+'</p>'+
                                    ' </div>'+
                                    '<div class="cooker_level">'+
                                    '<p>擅长：'+data.res[i].profession+'</p>'+
                                    '<p>星级：'+
                                    '<span class="glyphicon glyphicon-star txt_color"></span>'+
                                    '<span class="glyphicon glyphicon-star txt_color"></span>'+
                                    '<span class="glyphicon glyphicon-star txt_color"></span>'+
                                    '<span class="glyphicon glyphicon-star txt_color"></span>'+
                                    '<span class="glyphicon glyphicon-star txt_color"></span>'+
                                    '</p>'+
                                    '</div>'+
                                    '<div class="cooker_order">'+
                                    '<p>预订数</p>'+
                                    '<p class="txt_color">'+data.res[i]._order+'</p>'+
                                    '</div>'+
                                    /*'<a href="#" class="op">查看详情</a>'+*/
                                    '</div>'
                                    /*'</a>'*/)
                        }

//                        alert(JSON.stringify(data));
                    },
                    error: function (error) {
                       /* alert('error')*/
                    }


                })
            })
    </script>
    <!--修改密码-->
    <script>
        $('#old_password').blur(

                function () {

                    $.ajax({
                        type: 'get',
                        url: '/change_password',
                        data:{change_password:$('#old_password').val(),u_t:sessionStorage.getItem('tel')},
                        timeout: 3000,
                        dataType:'json',
                        start: function () {

                        },
                        success: function (result) {
                            if(result.res==1){

                                /*alert('该用户原密码正确')*/
                                /*swal("原密码正确","","success");*/
                                $('.btn_confirm').click(function(){
                                    $.ajax({
                                        type: 'post',
                                        url: '/change_password',
                                        data:{change_password:$('#new_password').val(),u_t:sessionStorage.getItem('tel')},
                                        timeout: 3000,
                                        dataType:'json',
                                        start: function () {

                                        },
                                        success: function (result) {
                                            if(result.res==1){

                                               /* swal("修改成功","","success")*/
                                                sessionStorage.clear();
                                                location.href='/login?url=/order?u_id='+sessionStorage.getItem('tel')+'&price=null';
                                            }else{

                                                /*alert('修改失败')*/
                                                swal("修改失败","","error")

                                            }


                                        },
                                        error: function (error) {
                                           /* alert('error')*/
                                            swal("未知错误","","error")
                                        }

                                    })
                                    return false;

                                })

                            }else{

                                /*alert('该用户原密码不正确')*/
                                swal("原密码不正确","","error")
                            }


                        },
                        error: function (error) {
                            /*alert('error')*/
                            swal("未知错误","","error")
                        }

                    })
                    return false;
                }
        )
    </script>

</body>
</html>