<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/toolbar.min.css">
</head>
<body>
<div class="toolbar clearfix">
    <div class="now_position">
        <span class="glyphicon glyphicon-map-marker"></span>
        <span>苏州 文荟人才公寓 <a href="#" class="position_address">[切换地址]</a></span>
    </div>
    <div class="search">
        <div class="form-group" >
            <form id="form" >
                <span class="glyphicon glyphicon-search"></span>
                <input type="text" class="form-control search_input" name="search_input" placeholder="请输入菜系">
                <button type="submit" class="search_txt">搜索</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>